body {
	margin: 0;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 3rem;
	background-color: antiquewhite;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

header img {
	height: 3rem;
	border-radius: 3rem;
}

#left {
	display: flex;
	gap: 1rem;
}
