body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 0.7rem 1.5rem;
	background-color: antiquewhite;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	align-items: center;
}

header img,
footer img {
	height: 3rem;
	border-radius: 3rem;
	border: black 0.2rem solid;
}

#left {
	display: flex;
	gap: 3rem;
	align-items: center;
}

#right {
	display: flex;
	gap: 1rem;
}

#right button {
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-weight: bold;
	font-size: large;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	background-color: antiquewhite;
	gap: 0.5rem;
	padding: 3.5rem;
	font-size: larger;
	box-shadow: 0 -3px 20px 0px rgba(0, 0, 0, 0.5);
}

#main-section {
	display: flex;
	flex-grow: 1;
}

#left-column {
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	width: 200px;
	box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
	padding-left: 2rem;
	padding-right: 2rem;
}

#main-todo {
	display: flex;
	gap: 1rem;
	align-self: flex-start;
	padding: 1.5rem;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 0 0 250px;
	/* max-width: 300px; */
	border: solid black 2px;
	padding: 1rem;
	padding-top: 0;
	border-radius: 12px;
	cursor: pointer;
}

.title {
	margin: 12px 0px;
	font-weight: bolder;
	font-size: large;
}

.dueDate {
	align-self: flex-end;
	margin-top: auto;
}
.dueDate::before {
	content: "Due date: ";
}

.priority {
	align-self: flex-end;
	padding: 3px 10px;
	border-radius: 12px;
	border: solid black 2px;
	color: black;
}

.card .description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: auto;
}

.description {
	margin-bottom: 24px;
	background-color: rgba(0, 0, 0, 0.137);
	border-radius: 10px;
	padding: 2px 8px;
}

p {
	margin: 0;
}

dialog {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: auto;
	width: 500px;
	height: 300px;
}

dialog:not([open]) {
	display: none;
}

dialog button {
	margin-top: 24px;
	border: solid black 2px;
	font-weight: bold;
	border-radius: 12px;
}

.priority[data-priority="Low"] {
	background: RGB(174, 233, 196);
}
.priority[data-priority="Medium"] {
	background: RGB(254, 243, 182);
}
.priority[data-priority="High"] {
	background: RGB(255, 179, 186);
}
